<table *ngIf="userStandings"
       mat-table [dataSource]="userStandings" multiTemplateDataRows
       style="width: 100%">
    <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let userStanding">{{userStanding.userNickname}} <app-hot-cold-icon [temp]="userStanding.temperature"></app-hot-cold-icon></td>
    </ng-container>

    <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell
            *matCellDef="let userStanding"
            [ngClass]="{'positive-number': userStanding.points > 0, 'negative-number': userStanding.points < 0, 'neutral-number': userStanding.points == 0}">
            {{+userStanding.points | wholeNumber}}
        </td>
    </ng-container>

    <ng-container matColumnDef="showDetailButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let userStanding" style="text-align: right">
            <button mat-button color="accent" (click)="expandedRow = expandedRow === userStanding ? null : userStanding">
                Teams <mat-icon [svgIcon]="expandedRow === userStanding ? 'arrow-up' : 'arrow-down'"></mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="columns.length">
            <div class="row-detail" [@detailExpand]="row === expandedRow ? 'expanded' : 'collapsed'">
                <app-user-scores-table-detail [teamScores]="row.teamScores" style="width: 100%; margin-bottom: 1em;"></app-user-scores-table-detail>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns;"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"
        class="example-element-row"
        [class.example-expanded-row]="expandedRow === row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
