@tailwind base;
@tailwind components;
@tailwind utilities;


//html, body {
//  height: 100%;
//  background-color: #fafafa;
//}
//
//body {
//  margin: 0;
//  font-family: Roboto, "Helvetica Neue", sans-serif;
//  display: flex;
//  flex-direction: column;
//}

.positive-number {
  color: green;
}

.negative-number {
  color: red;
}

.neutral-number {
  color: inherit;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.spin {
  animation: fadeIn ease 2s, spin 2s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
