<mat-toolbar color="accent" class="footer">
    <div  matTooltip="Website code">
        <small>
            <a href="https://github.com/jimeh87/over-under-league" target="_blank">
                <mat-icon svgIcon="github" style="padding-top: .5em"></mat-icon>
            </a>
        </small>
    </div>
    <div matTooltip="NBA standings publish time">
        <small *ngIf="lastUpdate$ | async as lastUpdate">{{lastUpdate | date:'shortTime'}}</small>
    </div>
    <div matTooltip="Application version">
        <small *ngIf="build$ | async as build">{{'v' + build.version}}</small>
    </div>
</mat-toolbar>