<div class="md:max-w-screen-md md:mx-auto md:border-l md:border-r md:border-gray-200 bg-white">
    <app-header></app-header>
    <section class="min-h-screen">
        @if (!loading) {
            <app-standings [standings]="standings"></app-standings>
        } @else {
            <div class="loading-container">
                <div class="ball">
                    <app-svg name="basketball-duotone" class="block spin"></app-svg>
                </div>
            </div>
        }
    </section>
    <app-footer></app-footer>
</div>
