<div class="app-container">
    <div class="content-container">
        <mat-toolbar color="primary">
            <mat-icon color="accent" svgIcon="sports-basketball" style="margin-right: .2em"></mat-icon> NBA Over/Under League
        </mat-toolbar>
        <nav mat-tab-nav-bar mat-stretch-tabs color="primary">
            <a mat-tab-link
               routerLink="league-standings"
               routerLinkActive #rla1="routerLinkActive"
               [active]="rla1.isActive">
                League Standings
            </a>
            <a mat-tab-link
               routerLink="nba-standings"
               routerLinkActive #rla2="routerLinkActive"
               [active]="rla2.isActive">
                NBA Standings
            </a>
        </nav>

        <router-outlet></router-outlet>
    </div>
    <footer class="footer-container">
        <app-footer></app-footer>
    </footer>
</div>
