<div class="md:max-w-screen-md md:mx-auto md:border-l md:border-r md:border-gray-200 bg-white">
    <app-header></app-header>
    <section class="min-h-screen">
        @if (error) {
            <div class="mt-3 p-5 text-gray-600">
                <p class="text-lg">Unable to load standings. Please try again later.</p>
            </div>
        } @else if (!loading) {
            <app-standings [standings]="standings"></app-standings>
        } @else {
            <div class="loading-container">
                <div class="loading-content">
                    <div class="ball">
                        <app-svg name="basketball-duotone" class="block spin"></app-svg>
                    </div>
                    <div class="loading-text mt-10">
                        <span class="message-text">{{currentMessage}}</span>
                    </div>
                </div>
            </div>
        }
    </section>
    <app-footer></app-footer>
</div>
